 html, body{
  height:100% !important;
 }

  .background {
  background: url('/media/backgroundImage.png');
    /* Full height */
    height: 100vh; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  color: black;
}

.formBox {
  padding: 50px 60px;
  margin-top: 45%;
  /* background: whitesmoke; */
  -webkit-box-shadow: 0px 4px 27px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 27px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 27px 10px rgba(0,0,0,0.75);
}

.title {
  text-align: center;
}

.logo {
  width: 50%;
  text-align: center;
}

.highlight {
  background-color: red;
  text-align: center;
  
}