*{
  color: white;
}

.background {
  background: url('/media/OneTop_Black_Lifestyle_03.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.formBox {
  padding: 50px 60px;
  margin-top: 10%;
  -webkit-box-shadow: 0px 4px 27px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 27px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 27px 10px rgba(0,0,0,0.75);
}

.title {
  text-align: center;
}

.logo {
  width: 100%;
}