.card-header {
    text-align: center;
    font-size: 17px;
    color: black
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.cardBtn {
    margin: 2px !important;
}

.cardCol {
    margin:0px;
}

.card-img-top {
    width: 272px;
    height: 180px;
}